@import url("https://fonts.googleapis.com/css?family=Bitter:400,700");
@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700");

html, body {
  font-family: "Bitter", sans-serif;
  line-height: $rlh;
  color: shade(#708395, 60%);
}

html {
  font-size: 100%;
}

body {
  font-size: rem($fs);
  background-color: tint(#708395, 95%);
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: rem($alh);
  font-weight: normal;
  color: shade(#708395, 50%);
}

h1 {
  font-size: rem(32);
  line-height: rem($alh * 1.5);
}

h2 {
  font-size: rem(26);
  line-height: rem($alh);
}

h3 {
  font-size: rem(20);
  line-height: rem($alh);
}

h4 {
  font-size: rem(18);
  line-height: rem($alh);
}

h5, h6 {
  font: inherit;
}

ul, ol, p {
  margin: rem($alh * 0.5) 0;
}

ul, ol {
  padding-left: rem($alh * 0.7);
}

a {
  color: #887544;

  &:hover {
    color: #708395;
    text-decoration: none;
  }

  // &:visited {
  //   color: #A83374;
  // }
}

code {
  font-family: "Anonymous Pro", monospace;
  font-size: 1.1em;
}

pre {
  margin: 0;
}

.highlight {
  margin-bottom: rem($alh);
  padding: rem(4) rem(8);
  border: rem(1) solid tint(#708395, 80%);
  font-size: rem(14);
}

.wrapper {
  @include outer-container;
  margin: 0 auto;

  @include media($mobile) {
    background: white;
    padding: 0 rem($alh);
  }
}

.sidebar {
  @include media($desktop) {
    @include span-columns(4);
    padding-top: rem($alh * 1.5);
  }

  @include media($mobile) {
    @include span-columns(16);
    padding-top: rem($alh * 0.5);
    text-align: center;
  }
}

.site-header {
  margin-bottom: rem($alh * 0.5);
}

.site-header__title {
  font: {
    size: rem(24);
    weight: 500;
  }
  margin-bottom: 0;
  line-height: rem($alh);
}

.site-header__link {
  color: inherit;
  text-decoration: none;
}

.site-header__subtitle {
  font-size: rem(12);
}

.badges {
  @include clearfix;
  height: rem(34);
  margin-bottom: rem($alh);

  @include media($mobile) {
    display: inline-block;
    margin: 0 auto;
  }
}

.watch-button,
.build-status {
  display: inline-block;
  float: left;
}

.watch-button {
  margin-right: rem($alh * 0.5);
}

.build-status {
  margin-top: rem(4);
}

.page-content {
  @include media($mobile) {
    @include span-columns(16);
  }

  @include media($desktop) {
    @include span-columns(12);
    padding: 2em 3em;
  }

  background-color: white;
}

.page-content {
  h1, h2 {
    padding-bottom: rem($alh * 0.25);
    border-bottom: rem(1) solid tint(#708395, 70%);

    &:not(:first-child) {
      margin-top: rem($alh * 2);
    }
  }
}

@include media($mobile) {
  .navigation {
    position: relative;
  }

  .navigation__toggle-checkbox {
    display: block;
    background-color: gray;
  }

  .navigation__toggle-checkbox {
    @include appearance(none);
    margin: 0;

    &:after {
      color: #222;
      position: absolute;
      font-size: 150%;
      right: 0.5em;
      top: 0.1em;
      display:inline;
      font-weight:bold;
      content:"+";
    }

    &:checked:after {
      content: "–";
    }
  }

  .navigation__toggle-checkbox + .navigation__main {
    display: none;
  }

  .navigation__toggle-checkbox:checked + .navigation__main {
    display: block;
  }
}

.navigation__list {
  margin: 0 0 rem($alh) 0;
  padding: 0;
  list-style: none;
}

.navigation__list .navigation__list {
  font-size: rem(14);
}

.navigation__category__title {
  margin-bottom: rem($alh * 0.25);
  font-size: inherit;
  line-height: inherit;
}
