body {
  font: {
    family: "Titillium", sans-serif;
    size: rem($fs);
  }
  line-height: $rlh;
  -webkit-font-smoothing: antialiased;

  background: $mine-shaft;
  color: $mine-shaft;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: rem($alh);
  font-weight: normal;
  color: tint($mine-shaft, 10%);
}

h1 {
  font-size: rem(32);
  line-height: rem($alh * 1.5);
}

h2 {
  font-size: rem(26);
  line-height: rem($alh);
}

h3 {
  font-size: rem(20);
  line-height: rem($alh);
}

h4 {
  font-size: rem(18);
  line-height: rem($alh);
}

h5, h6 {
  font: inherit;
}

ul, ol, p {
  margin: rem($alh * 0.5) 0;
}

ul, ol {
  padding-left: rem($alh * 0.7);
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    color: $amaranth;
  }

  // &:visited {
  //   color: #A83374;
  // }
}

code {
  font-family: "Roboto Mono", monospace;
  font-size: 0.95em;
  letter-spacing: rem(-0.5);
}

pre {
  margin: 0;
}

.highlight {
  font-size: rem(14);
  background-color: tint($mine-shaft, 98%);

  pre {
    padding: rem($alh * 0.5);
  }
}

.wrapper {
  @include outer-container;
  margin: 0 auto;

  @include media($mobile) {
    background: white;
    padding: 0 rem($alh);
  }
}

.sidebar {
  color: white;

  @include media($desktop) {
    @include span-columns(4);
    padding-top: rem($alh * 1.5);
  }

  @include media($mobile) {
    @include span-columns(16);
    padding-top: rem($alh * 0.5);
    text-align: center;
  }
}

.site-header {
  margin-bottom: rem($alh * 0.5);
}

.site-header__title {
  display: inline-block;
  font: {
    size: rem(24);
    weight: bold;
  }
  margin-bottom: 0;
  margin-right: rem($alh * 0.5);
  line-height: 1.2;
  text-decoration: uppercase;
  line-height: rem($alh);
}

.site-header__link {
  color: white;
  text-decoration: none;

  &:hover {
    color: rgba(white, 0.8);
  }
}

.site-header__version {
  color: tint($mine-shaft, 60%);
}

.badges {
  @include clearfix;
  height: rem(34);
  margin-bottom: rem($alh);

  @include media($mobile) {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: rem($alh * 0.5);
  }
}

.watch-button,
.build-status {
  display: inline-block;
  float: left;
}

.watch-button {
  margin-right: rem($alh * 0.5);
}

.build-status {
  margin-top: rem(4);
}

.page-content {
  @include media($mobile) {
    @include span-columns(16);
  }

  @include media($desktop) {
    @include span-columns(12);
    min-height: 100vh;
    padding: 2em 3em;
  }

  background-color: white;

  h1, h2 {
    padding-bottom: rem($alh * 0.25);
    border-bottom: rem(1) solid tint($mine-shaft, 90%);

    &:not(:first-child) {
      margin-top: rem($alh * 2);
    }
  }
}

.navigation__list {
  margin: 0 0 rem($alh) 0;
  padding: 0;
  list-style: none;
}

@include media($mobile) {
  .navigation {
    @include clearfix;

    margin-bottom: rem($alh * 1.5);
    background: #887544;
  }

  .navigation__toggle-checkbox,
  .navigation__toggle-label,
  .navigation__main {
    display: block;
    float: left;
    width: 100%;
  }

  .navigation__toggle-checkbox {
    @include appearance(none);
  }

  .navigation__toggle-label {
    display: block;
    padding: rem($alh * 0.5) rem($alh * 0.25);

    background: tint(#708395, 95%);

    cursor: pointer;

    &:hover {
      background: tint(#708395, 90%);
    }
  }

  .navigation__toggle-checkbox:checked ~ .navigation__toggle-label {
    background: #887544;

    &:hover {
      background: tint(#887544, 5%);
    }
  }

  .navigation__toggle-checkbox ~ .navigation__main {
    display: none;
  }

  .navigation__toggle-checkbox:checked ~ .navigation__main {
    display: block;
  }

  .navigation__main {
    background: tint(#708395, 95%);
  }

  .navigation__category__title {
    margin-bottom: rem($alh * 0.25);
    font-size: rem(14);
    color: shade(#708395, 40%);
  }

  .navigation__link {
    text-decoration: none;
    margin-bottom: rem(1);
    display: block;
    padding: rem($alh * 0.25);
    padding-top: rem($alh * 0.4);
    background-color: rgba(#887544, 0.05);
  }
}

@include media($desktop) {
  .navigation__toggle-checkbox,
  .navigation__toggle-label {
    display: none;
  }

  .navigation__list {
    margin: 0 0 rem($alh) 0;
    padding: 0;
  }

  .navigation__category__title {
    margin-bottom: rem($alh * 0.25);
    font-size: rem(14);
    line-height: inherit;
    color: tint($mine-shaft, 45%);
  }

  .navigation__link {
    font-size: rem(16);
    color: $emerald;

    &:hover {
      color: $mikado;
      font-weight: bold;
    }
  }
}
