// Grid
$max-width: rem(1080);
$grid-columns: 16;

// Breakpoints
$desktop: min-width 1180px;
$mobile:  max-width 1180px;

// Typography
$fs: 18;
$rlh: 1.6;
$alh: $fs * $rlh;

// Colours
$mine-shaft: #333333;
$blue: #4F67FF;
$amaranth: #E93C4F;
$emerald: #18CDCA;
$mikado: #FFDE20;
