// Grid
$max-width: rem(1080);
$grid-columns: 16;

// Breakpoints
$desktop: min-width 1180px;
$mobile:  max-width 1180px;

// Typography
$fs: 18;
$rlh: 1.6;
$alh: $fs * $rlh;


// Colours
$athens-gray: #ECF0F1;
$cod-gray: #2F3030;
